@media(min-width:992px){
  a{
    transition:all .2s ease;
    &:hover{
      text-decoration:none;
    }
  }
  /* .btn{
    a,button,input{
      transition:all .2s linear;
      &:hover{
        background-color:transparent;
        border-color:@yellow;
      }
    }
    &_white{
      a,button,input{
        &:hover{
          background-color:rgba(255,255,255,.4);
          border-color:#fff;
        }
      }
    }
    &_thin{
      a,button,input{
        &:hover{
          background-color:@yellow;
        }
      }
    }
  } */
  .main-menu{
    a:hover{
      color:@yellow;
    }
  }
  .step-form{
    &__nav{
      li:hover{
        color:@yellow;
      }
    }
  }
  .phone{
    a{
      &:hover{
        color:@yellow;
      }
    }
  }
}
@media(max-width:1679px){
  .stages{
    &__box{
      display:block;
    }
    &__item{
      width:320px;
      border-right:none;
    }
    &__prev,
    &__next{
      background-color:fade(#cfcfcf,50%);
      position:absolute;
      z-index:2;
      top:146px;
    }
    &__prev{
      left:0;
    }
    &__next{
      right:0;
    }
    &__text{
      width:280px;      
    }
    &__descr{
      padding:10px 26px 10px 0;
    }
  }
  .about{
    &__main{
      padding:0;
    }
    &__body{
      position:relative;
      bottom:auto;
      right:auto;
      margin:-170px 10px 0 auto;
    }
  }
}
@media(max-width:1439px){
  .portfolio{
    &__slider{
      padding:46px 40px 0;
    }
    &__prev{
      left:0;
    }
    &__next{
      right:0;
    }
  }
  .about{
    &__head{
      max-width:100%;
      &:before{
        display:none;
      }
    }
    &__quote{
      left:60px;
    }
    &__body{
      width:auto;
      margin:0;
    }
    &__info{
      padding:0;
      display:block;
    }
    &__sidebar{
      width:auto;
      margin:0 0 30px;
    }
    &__content{
      width:auto;
    }
  }
  .feed{
    &__pic{
      img{
        height:100%;        
      }
    }
  }
}
@media(max-width:1199px){
	.wrapper{
		max-width:992px;
	}
  .menu{
    li{
      margin:0 12px 10px 0;
    }
  }
  .header{
    &__main{
      padding:0 10px 0 0;
    }
  }
  .dir-card{
    margin:0 10px 20px;
  }
}
@media(max-width:991px){
  .box{
    justify-content:center;
  }
	.header{
    padding:35px 0 19px;
    text-align:center;
    &__wrapper{
      display:block;
    }
    &__logo{
      margin:0 0 11px;
    }
    &__main{
      padding:0;
    }
    &__slogan{
      font-size:16px;
      line-height:1.31;
      margin:0 0 .5em;
    }
    &__menu{
      display:none;
      background-color:@yellow;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      z-index:2;
      padding:43px 30px 33px;
      text-align:left;
      max-height:100vh;
      overflow:auto;
      li{
        display:block;
        margin:0 0 1.5em;
      }
    }
  }
  .menu-btn{
    display:inline-block;
    position:absolute;
    z-index:3;
    font-size:24px;
    line-height:1;
    padding:10px;
    right:0;
    top:0;
    cursor:pointer;
  }
  .top-block{
    min-height:0;
    padding:270px 0 120px;
  }
  .simile{
    display:block;
    &__item{
      display:block;
      width:auto;
      &:nth-child(n+2){
        display:none;
      }
      img{
        width:100%;
      }
    }
    &__title{
      top:19px;
      min-width:0;
      right:0;
      width:100%;
      text-align:center;
      a{
        background:none;
        border:none;
        padding:0;
        box-shadow:none;
      }
    }
    &__item:nth-child(2n) &__title{
      right:0;
      left:0;
    }
    &__btn{
      display:block;
      width:280px;
      position:absolute;
      z-index:2;
      bottom:17px;
      left:~"calc(50% - 140px)";
      
    }
  }
  .slick{
    &-arrow{
      background-color:rgba(207, 207, 207, 0.5);
    }
  }
  .portfolio{
    &__prev,
    &__next{
      top:~"calc(50% - 46px)";
    }
    &__slider{
      padding:46px 0 0;
      margin:0 -10px;
      .slick-list{
        margin:0;
      }
    }    
    &__item{
      margin:0;
      padding:0;
      img{
        height:78vw;
      }
    }
    &__text{
      position:relative;
      right:auto;
      bottom:auto;
      width:100%;
      .slick-current &{
        right:auto;
      }
      br{
        display:none;
      }
    }
    &__dots{
      width:auto;
      position:static;
      margin:25px 0 26px;
    }
  }
  .consult{
    &__content{
      padding:0 0 0 40px;
    }    
  }
  .footer{
    text-align:center;
    &__wrapper{
      display:block;
    }
    &__menu{
      display:none;
    }
  }
}
@media(max-width:767px){
  h2{
    font-size:22px;
    line-height:1;
  }
  blockquote{
    font-style:inherit;
    font-size:inherit;
    padding:0 0 0 1.2em;
    line-height:1.35;
  }
  .section{
    &__title{
      padding:0 1.5em;
      text-indent:0;
      position:relative;
      &:before{
        display:inline-block;
        position:absolute;
        left:0;
      }
    }
    &__descr{
      font-size:12px;
      margin:1em 0;
    }
  }
  .slick{
    &-arrow{
      &.small{
        width:19px;
        height:19px;
        line-height:19px;
        font-size:9px;
      }
    }
  }
  .top-block{
    padding:270px 0 52px;
    &__title{
      font-size:28px;
      margin:0 0 .5em;
    }
    &__text{
      font-size:22px;
      padding:0 50px;
      margin:0 0 3em;
    }
  }
  .step-form{
    padding:0 10px;
    &__title{
      display:none;
    }
    &__item{
      &.slick-slide{
        display:block;
      }
    }
    input:not([type=submit]),
    select{
      max-width:100%;
      margin:0 0 10px;
    }
    .btn{
      margin:0;
      width:100%;
    }
    &__nav{
      top:19px;
      left:auto;
      right:44px;
      li{
        padding:0 5px;
      }
    }
  }
  .directions{
    padding:40px 0 0;
    &__content{
      padding:40px 0 0;
    }
    &__box{
      margin:0 -10px;
    }
  }
  .dir-card{
    margin:0 10px 60px;
  }
  .portfolio{
    padding:52px 0 29px;
    &__slider{
      padding:77px 0 0;
    }
  }
  .media{
    padding:48px 0 30px;
    &__content{
      margin:46px 0 0;
    }
    &__item{
      margin:0;
      width:auto;
      &:nth-child(n+2){
        display:none;
      }
      img,iframe{
        height:auto;
      }
    }
  }
  .stages{
    padding:6px 0 30px;
    background:none;
    &__box{
      margin:36px 0 0;
    }
    &__item{
      background-color:@gray;
      margin:0;
      padding:0 0 78px;
    }
    &__text{
      width:246px;
      bottom:29px;
      transform:none;
      left:27px;
    }
    &__number{
      font-size:43px;
      height:75px;
      width:77px;
      text-align:right;
      padding:10px;
    }
    &__descr{
      height:75px;
      font-size:14px;
    }
    &__dots{
      margin:19px 0 0;
    }
  }
  .about{
    padding:20px 0 0;
    background:none;
    &__main{
      margin:39px 0 0;
    }
    &__head{
      color:inherit;
    }
    &__quote{
      position:relative;
      top:auto;
      left:auto;
      width:auto;
      margin:0 10px 1em;
      background-size:.9em auto;
    }
    &__body{
      padding:30px 19px;
      ul{
        font-size:11.4px;
      }
    }
    &__title{
      font-size:25px;
    }
    &__position{
      font-size:13.4px;
    }
    .wrapper{
      padding:0;
    }
    &__info{
      background-color:@gray;
      padding:25px 17px;
    }
    &__subtitle{
      font-size:19.3px;
    }
    &__arrows{
      top:-42px;
      left:157px;
    }
    &__sidebar{
      margin:0 0 27px;
    }
  }
  @supports(object-fit:cover){
      .about__pic{
        img{
          width:100%;
          height:118vw;
          object-position:72% top;
          object-fit:cover;
        }
      }
  }
  .video-card{
    margin:0 0 20px;
    &__link{
      width:139px;
      margin:0 22px 0 0;
      img{
        height:84px;
      }
      &:before{
        font-size:30px;
      }
    }
    &__duration{
      top:7px;
      right:3px;
      font-size:8px;
    }
    &__text{
      font-size:8px;
    }
    &__title{
      font-size:11px;
    }
  }
  .feed{
    &__item{
      margin:0 2px 4px;
      width:~"calc(50% - 4px)";
    }
    &__pic{
      min-width:0;
    }
    &__date{
      font-size:6px;
    }
    &__text{
      padding:8px 13px;
      font-size:8px;
    }
  }
	.consult{
    &__content{
      display:block;
    }
    &__main{
      width:auto;
    }
  }
}

@media(max-width:480px){
	
}