@media(min-width:992px){
  a{
    transition:all .2s ease;
    &:hover{
      text-decoration:none;
    }
  }
  .main-menu{
    a:hover{
      color:@yellow;
    }
  }
  .step-form{
    &__nav{
      li:hover{
        color:@yellow;
      }
    }
  }
  .phone{
    a{
      &:hover{
        color:@yellow;
      }
    }
  }
}
@media(max-width:1199px){
	.wrapper{
		max-width:992px;
	}
}
@media(max-width:991px){
	
}
@media(max-width:767px){
	
}
@media(max-width:480px){
	
}