@media(min-width:992px){
  a{
    transition:all .2s ease;
    &:hover{
      text-decoration:none;
    }
  }
  /* .btn{
    a,button,input{
      transition:all .2s linear;
      &:hover{
        background-color:transparent;
        border-color:@yellow;
      }
    }
    &_white{
      a,button,input{
        &:hover{
          background-color:rgba(255,255,255,.4);
          border-color:#fff;
        }
      }
    }
    &_thin{
      a,button,input{
        &:hover{
          background-color:@yellow;
        }
      }
    }
  } */
  .main-menu{
    a:hover{
      color:@yellow;
    }
  }
  .step-form{
    &__nav{
      li:hover{
        color:@yellow;
      }
    }
  }
  .phone{
    a{
      &:hover{
        color:@yellow;
      }
    }
  }
}
@media(max-width:1199px){
	.wrapper{
		max-width:992px;
	}
}
@media(max-width:991px){
	
}
@media(max-width:767px){
	
}
@media(max-width:480px){
	
}