html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
:before,
:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*для IE10*/
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: normal normal 16px/1.25 'Gilroy';
  color: #222222;
}
header,
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
input,
textarea,
button,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
a {
  color: #ffc500;
}
a img {
  /*для IE10*/
  border: none;
}
p {
  margin: 0 0 1em;
}
:focus {
  outline: none;
}
:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*элементы форм*/
[type=text],
[type=email],
[type=url],
[type=password],
[type=tel],
textarea {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  border: 1px solid #C4C4C4;
  padding: 15px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
}
select {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 15px 30px 15px 15px;
  background: url(../img/icons/angle-down.svg) no-repeat right 20px center / 10px auto, #ffffff;
  border: 1px solid #C4C4C4;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}
select::-ms-expand {
  display: none;
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder{color:gray;}
::-moz-placeholder{color:gray;}
:-ms-input-placeholder{color:gray;}

[type=search] {
  appearance: none;
}
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
  display: none;
}
*/
/*кнопки*/
button,
[type="submit"],
[type="reset"] {
  cursor: pointer;
}
.btn {
  display: inline-block;
}
.btn button,
.btn input,
.btn a {
  display: block;
  max-width: 100%;
  font-weight: 500;
  text-decoration: none;
  background-color: #ffc500;
  border: 1px solid rgba(255, 197, 0, 0.003);
  -webkit-box-shadow: 0 4px 8px rgba(255, 197, 0, 0.003);
          box-shadow: 0 4px 8px rgba(255, 197, 0, 0.003);
  border-radius: 2px;
  font-size: 18px;
  line-height: normal;
  padding: 14px 27px;
  text-align: center;
  color: #222222;
}
.btn_thin button,
.btn_thin input,
.btn_thin a {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn_block {
  display: block;
  width: 100%;
}
/*заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}
h1 {
  font-size: 36px;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
h2:before {
  content: '\e909';
  font-family: icomoon;
  font-size: 33.33%;
  margin: 0 2em 0 0;
  color: #ffc500;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 .3em;
}
/*списки*/
ul,
ol {
  padding: 0 0 0 1em;
  margin: 0 0 1em;
}
/*таблицы*/
/*контейнеры*/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
/*мелочевка*/
.logo {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.logo a,
.logo img {
  display: block;
  width: 100%;
}
.phone {
  display: inline-block;
  font: normal bold 18px/1.1 'Museo Sans Cyrl';
}
.phone a {
  display: inline-block;
  text-decoration: none;
  color: #222222;
}
.phone a:before {
  content: '\e90b';
  font-family: 'icomoon';
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 4px solid rgba(255, 197, 0, 0.3);
  background-color: #ffc500;
  background-clip: padding-box;
  vertical-align: middle;
  font-weight: 400;
  font-size: 8px;
  line-height: 16px;
  color: #fff;
  margin: 0 6px 0 0;
}
/*ШАПКА*/
.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(37.5%, #f9f9f9), to(rgba(236, 236, 236, 0.5)));
  background: linear-gradient(180deg, #f9f9f9 37.5%, rgba(236, 236, 236, 0.5) 100%);
  padding: 35px 0 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 28.5px;
}
.header__logo {
  width: 58px;
  margin: 0 43px 0 0;
}
.header__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 9px 22px 0 0;
  font-family: 'Museo Sans Cyrl';
}
.header__slogan {
  display: block;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 .6em;
}
.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 8px 0 0;
}
.main-menu {
  font: normal bold 12px/1.1 'Museo Sans Cyrl';
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu li {
  display: inline-block;
  margin: 0 24px 0 0;
}
.main-menu a {
  color: inherit;
  display: block;
  text-decoration: none;
}
/*ОСНОВНОЕ СОДЕРЖИМОЕ*/
.step-form {
  overflow: hidden;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}
.step-form__title {
  font-size: 20px;
  margin: 0 0 .9em;
}
.step-form__item {
  margin: 0 0 10px;
}
.step-form__item.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.step-form input:not([type=submit]),
.step-form select {
  padding: 17px 85px 17px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
}
.step-form .btn {
  width: 120px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 80px;
}
.step-form__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  z-index: 2;
  left: 193px;
  top: calc(50% - .5em);
}
.step-form__nav li {
  display: inline-block;
  padding: 0 4px;
  cursor: pointer;
}
.step-form__nav li.slick-active {
  color: #ffc500;
}
.step-form__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 200px);
}
.step-form__progress span {
  display: block;
  background-color: #ffc500;
  width: 0;
  height: 2px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.top-block {
  background: url(../img/top.jpg) no-repeat center / cover;
  padding: 150px 0;
  min-height: 100vh;
  text-align: center;
}
.top-block__title {
  font-size: 56px;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 3px;
}
.top-block__text {
  font-size: 32px;
  letter-spacing: .23em;
  text-transform: uppercase;
  margin: 0 0 45px;
}
/*ПОДВАЛ*/
/*АДАПТИВ*/
@media (min-width: 992px) {
  a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  a:hover {
    text-decoration: none;
  }
  .main-menu a:hover {
    color: #ffc500;
  }
  .step-form__nav li:hover {
    color: #ffc500;
  }
  .phone a:hover {
    color: #ffc500;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    max-width: 992px;
  }
}
