//препроцессорные дела
@yellow:#FFC500;
@black:#222;
.pos(){
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.obj(){
  object-fit:cover;
  object-position:center;
}
.circle(@d){
  display: inline-block;
  width:@d;
  height:@d;
  line-height:@d;
  border-radius:50%;
  text-align: center;
  flex:0 0 auto;
}
.unlist(){
  list-style:none;
  margin:0;
  padding:0;
}
html{
	box-sizing:border-box;
}
*,:before,:after{
	box-sizing:inherit;
	/*для IE10*/
	flex:0 1 auto;
}
body{
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction:column;
	min-height:100vh;
  font:normal normal 16px/1.25 'Gilroy';
  color:@black;
}
header,footer{
	flex:0 0 auto;
}
main{
	flex-grow:1;
}
input,textarea,button,select{
	font-family: inherit;
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration:none;
}
img{
	max-width:100%;
}
a{
  color:@yellow;
}
a img{
	/*для IE10*/
	border:none;
}
p{
	margin:0 0 1em;
}
:focus{
	outline:none;
}
:invalid{
	box-shadow:none;
}
/*элементы форм*/
[type=text],
[type=email],
[type=url],
[type=password],
[type=tel],
textarea{
  display:block;
  width:100%;
  margin:0 0 10px;
  border:1px solid #C4C4C4;
  padding:15px;
  background-color:#fff;
  border-radius:2px;
  font-size:16px;
  line-height:1.1;
  font-weight:500;
}
select{
  display:block;
  width:100%;
  margin:0 0 10px;
	appearance: none;
	padding: 15px 30px 15px 15px;
	background:url(../img/icons/angle-down.svg) no-repeat right 20px center/10px auto,#fff;
  border:1px solid #C4C4C4;
  font-weight:500;
  font-size:16px;
  line-height:1.1;
	&::-ms-expand{
		display:none;
	}
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder{color:gray;}
::-moz-placeholder{color:gray;}
:-ms-input-placeholder{color:gray;}

[type=search] {
  appearance: none;
}
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
  display: none;
}
*/

/*кнопки*/
button,
[type="submit"],
[type="reset"]{
	cursor:pointer;
}
.btn{
  display: inline-block;
  max-width:100%;
  button,
  input,
  a{
    display: block;
    width:100%;
    font-weight: 500;
    text-decoration: none;
    background-color:@yellow;
    border:1px solid fade(@yellow,30%);
    box-shadow: 0 4px 8px fade(@yellow,30%);
    border-radius:2px;
    font-size:18px;
    line-height:normal;
    text-align:center;
    padding:14px 27px;
    text-align: center;
    color:@black;
  }
  &_thin{
    button,
    input,
    a{
      background:none;
      box-shadow:none;
      border-color:@yellow;
    }    
  }
  &_white{
    button,
    input,
    a{
      background-color:rgba(255,255,255,.15);
      border-color:#eeeae6;
      box-shadow: 0px 3px 54px 0px rgba(0, 0, 0, 0.07);
      font-size:20px;
      padding:21px 15px;
    }  
  }
  &_small{
    button,
    input,
    a{
      font-size:14px;
    }
  }
  &_block{
    display:block;
    width:100%;    
  }
}
/*заголовки*/
h1,h2,h3,h4,h5,h6{
	margin:0 0 1em;
}
h1{
  font-size: 36px;
  font-weight: 900;
}
h2{
  font-size:30px;
  font-weight:900;
  text-align:center;
  &:before{
    content:'\e909';
    font-family:icomoon;
    margin:0 .5em 0 0;
    color:@yellow;
    vertical-align:-0.1em;
  }
}
h3{
  font-size:18px;
  font-weight:bold;
  margin:0 0 .3em;
}
h4{}
h5{}
h6{}
/*списки*/
ul,ol{
  padding:0 0 0 1em;
  margin:0 0 1em;
}
/*таблицы*/
/*контейнеры*/
.wrapper{
	max-width:1200px;
	margin:0 auto;
	padding:0 10px;
}
.section{
  padding:60px 0;
  &__title{
    margin:0;
  }
  &__descr{
    letter-spacing:.1em;
    text-transform: uppercase;
    font-weight:500;
    margin:0 0 1em;
  }
}
.box{
  display:flex;
  flex-wrap:wrap;
  margin:0 -15px;
}
/*мелочевка*/
.logo{
  display: inline-block;
  flex:0 0 auto;
  a,img{
    display:block;
    width:100%;
  }
}
.phone{
  display:inline-block;
  font:normal bold 18px/1.1 'Museo Sans Cyrl';
  a{
    display:inline-block;
    text-decoration:none;
    color:@black;
    &:before{
      content:'\e90b';
      font-family:'icomoon';
      .circle(24px);
      border:4px solid fade(@yellow,30%);
      background-color:@yellow;
      background-clip:padding-box;
      vertical-align: middle;
      font-weight:400;
      font-size:8px;
      line-height:16px;
      color:#fff;
      margin:0 6px 0 0;
    }
  }
}
/*ШАПКА*/
.header{
  background:linear-gradient(180deg, #F9F9F9 37.5%, rgba(236, 236, 236, 0.5) 100%);
  padding:35px 0 25px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:3;
  &__wrapper{
    display:flex;
    align-items:flex-start;
    padding:0 19px;
  }
  &__logo{
    width:58px;
    margin:0 43px 0 0;
  }
  &__main{
    flex:1 1 auto;
    padding:9px 20px 0 0;
    font-family:'Museo Sans Cyrl';
  }
  &__slogan{
    display:block;
    font-size:18px;
    line-height:1.1;
    text-transform:uppercase;
    margin:0 0 .6em;
  }
  &__contacts{
    flex:0 0 auto;
    padding:8px 19px 0 0;
  }
}
.main-menu{
  font:normal bold 12px/1.1 'Museo Sans Cyrl';
  text-transform:uppercase;
  letter-spacing:-0.05em;
  ul{
    .unlist();
  }
  li{
    display:inline-block;
    margin:0 24px 0 0;
  }
  a{
    color:inherit;
    display:block;
    text-decoration:none;
  }
}
/*ОСНОВНОЕ СОДЕРЖИМОЕ*/
.step-form{
  overflow:hidden;
  max-width:480px;
  margin:0 auto;
  text-align:center;
  &__title{
    font-size:20px;
    margin:0 0 .9em;
  }
  &__item{
    margin:0 0 10px;
    &.slick-slide{
      display:flex;
      align-items:center;
      margin:0;
    }
  }
  input:not([type=submit]),
  select{
    padding:17px 85px 17px 20px;
    flex:1 1 auto;
    margin:0;
  }
  .btn{
    width:120px;
    padding-left:0;
    padding-right:0;
    flex:0 0 auto;
    margin:0 0 0 80px;
  }
  &__nav{
    .unlist();
    font-size:13px;
    font-weight:500;
    line-height:1;
    position:absolute;
    z-index:2;
    left:193px;
    top:~"calc(50% - .5em)";
    li{
      display:inline-block;
      padding:0 4px;
      cursor:pointer;
      &.slick-active{
        color:@yellow;
      }
    }    
  }
  &__progress{
    position:absolute;
    bottom:0;
    left:0;
    width:~"calc(100% - 200px)";
    span{
      display:block;
      background-color:@yellow;
      width:0;
      height:2px;
      transition:all .2s linear;
    }
  }
}
.top-block{
  background:url(../img/top.jpg) no-repeat center/cover;
  padding:150px 0;
  min-height:100vh;
  text-align:center;
  &__title{
    font-size:56px;
    font-weight:900;
    line-height:normal;
    margin:0 0 3px;
  }
  &__text{
    font-size:32px;
    letter-spacing:.23em;
    text-transform:uppercase;
    margin:0 0 45px;
  }
}
.simile{
  display:flex;
  border-top:1px solid #fff;
  &__item{
    width:50%;
    position:relative;
    img{
      display:block;
      width:100%;
      height:100%;
      .obj();
    }
  }
  &__btn{
    position:absolute;
    top:55px;
    right:182px;
    min-width:235px;
    pointer-events:none;
  }
  &__item:nth-child(2n) &__btn{
    right:auto;
    left:182px;
  }
}
.dir-card{
  width:292px;
  margin:0 45px 30px;
  position:relative;
  font-size:14px;
  &__pic{
    margin:0 0 25px;
    img{
      display:block;
      width:100%;
      height:178px;
      .obj();
    }
  }
  &__icon{
    position:absolute;
    z-index:1;
    text-align:center;
    padding:14px 0;
    background-color:@yellow;
    right:11px;
    top:152px;
    width:58px;
    img{
      height:30px;
      vertical-align: top;
    }
  }
  &__body{
    margin:0 0 2.3em;
  }
  &__title{
    font-size:20px;
    margin:0 0 .9em;
  }
  &__text{
    line-height:1.57;
  }
}
.directions{
  padding:70px 0 60px;
  &__content{
    padding:63px 15px 0;
  }
  &__box{
    margin:0;
  }
}
/*ПОДВАЛ*/

/*АДАПТИВ*/
@import "adaptive";